<ion-header [translucent]="true">
  <ion-toolbar #toolbar>
    <ion-title>
      Take Photo
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- use fadeheader directive to display header at scroll and hide at initial time  
  and also use ion-header and ion-content csss  -->
<ion-content [fullscreen]="true" [appFadeDirective]="toolbar" scrollEvents="true">
  <!-- 
     to use when need header display at initial time but hide at scroll and dont use header and contentcsss
    <ion-content [fullscreen]="true" [appHideDirective]="toolbar" scrollEvents="true"></ion-content>
   -->
  <ion-fab >
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
    <ion-col size="6" 
      *ngFor="let photo of photos; index as position">
      <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"  (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
